.txt-center td{
    text-align: center;
}


#addAccountBTN{
    width: 11% !important;
}

.accountsTable th {
  background: #00acac !important;
 
  color: #dddddd !important;
 }

 .ui-button.ui-widget.ui-state-default{
    width: 7% !important;
  }
  
  .sponser-details-btns.ui-dialog-buttonpane button{
      width:15% !important;
      margin: 0 15%;

  }

 .account-buttons-div.ui-dialog-buttonpane button{
    width:15% !important;
    margin: 0 15%;
 }