<p-growl [(value)]="msgs" ></p-growl>

<p-blockUI  [blocked]="blockedNextOfKinPanel">
        <i class="fa fa-refresh fa-spin  fa-5x" style="position:absolute;top:25%;left:50%"></i>
    </p-blockUI>
<p-panel  header="{{header}}" [toggleable]="true" [collapsed]="family?.nextOfKins.length==0">
<p-table  dataKey="cpr" [columns]="cols" [value]="family?.nextOfKins" selectionMode="single" [(selection)]="selectedNextOfKin" (onRowSelect)="onNextOfKinSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>



    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns"  >
        <tr [pSelectableRow]="rowData" [ngClass]="'txt-center'">
        
            <td >
                {{rowData.cpr}}
            </td>
            <td>
              {{rowData.personArabicName||'لا يوجد'}}
            </td>
            <td>
              {{rowData.contact.mobilesms||'لا يوجد'}}
            </td>
            <td>
              {{rowData.contact.mobile||'لا يوجد'}}
            </td>
            <td>
              {{rowData.contact.homeTel||'لا يوجد'}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary" let-rowData *ngIf="!isViewState">
        <div>
            <button id="addNextOfKinBTN" type="button"  pButton icon="fa-plus" (click)="showDialogToAddNextOfKin()" label="أضف ولي امر"></button>
        </div>
    </ng-template>
    
  </p-table>
<p-dialog header="تفاصيل ولي الامر" [(visible)]="displayNextOfKinDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
    <div class="ui-g ui-fluid" *ngIf="nextOfKin">
        <div class="ui-g-12">
            <div class="ui-g-8">
              <p-inputMask [(ngModel)]="nextOfKin.cpr" mask="999999999" (onComplete)="getPersonCRS(nextOfKin.cpr)"></p-inputMask>
            </div>
            <div class="ui-g-4">
                <label for="vin">الرقم الشخصي</label>
            </div>
           
        </div>
        <div class="ui-g-12">
            <div class="ui-g-8">
                <input pInputText id="year"  [readonly]="true"  [(ngModel)]="nextOfKin.personArabicName" />
            </div>
            <div class="ui-g-4">
                <label for="year">الاسم</label>
            </div>
           
        </div>
        <div class="ui-g-12">
            <div class="ui-g-8">
                <p-inputMask mask="99999999" [(ngModel)]="nextOfKin.contact.mobilesms" placeholder="99999999"></p-inputMask>
            </div>
            <div class="ui-g-4">
                <label for="brand">هاتف الرسائل</label>
            </div>
           
        </div>
        <div class="ui-g-12">
            <div class="ui-g-8">
                <p-inputMask mask="99999999" [(ngModel)]="nextOfKin.contact.mobile" placeholder="99999999"></p-inputMask>
            </div>
            <div class="ui-g-4">
                <label for="color">هاتف نقال</label>
            </div>
            
        </div>
        <div class="ui-g-12">
            <div class="ui-g-8">
                <input pInputText id="color" [(ngModel)]="nextOfKin.contact.homeTel" />
            </div>
          <div class="ui-g-4">
              <label for="color">هاتف المنزل</label>
          </div>
          
      </div>
    </div>
    <p-footer>
        <div class="nextOfKin-details-btns ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="saveNextOfKin()" label="حفظ"></button>
            <button type="button" pButton icon="fa-close" (click)="deleteNextOfKin()"  label="{{!newNextOfKin?'مسح':'الغاء'}}"></button>
            
        </div>
    </p-footer>
</p-dialog>
</p-panel>