<p-blockUI [blocked]="blockedApplicantPanel" [target]="applicantPnl">
  <i class="fa fa-refresh fa-spin  fa-5x" style="position:absolute;top:25%;left:50%"></i>
</p-blockUI>
<p-panel id="applicantPanel" header="{{header}}" [toggleable]="true" #applicantPnl [style]="{ 'height': '258px'}">
  <div class="ui-g form-group">
    <div class="ui-g-12 ui-md-4">
      <label>الرقم الشخصي</label>
    </div>
    <div class="ui-g-12 ui-md-8">
      <p-inputMask [disabled]="isViewState||isUpdateState||disableCpr" [(ngModel)]="applicant.cpr" mask="999999999" (onComplete)="getPersonCRS(applicant.cpr)" placeholder="CPR"></p-inputMask>

    </div>

    <div class="ui-g-12 ui-md-4">
      <label>الاسم</label>
    </div>
    <div class="ui-g-12 ui-md-8">
      <input [disabled]="true" type="text" [(ngModel)]="applicant.personArabicName" pInputText pKeyFilter="alpha" placeholder="">
    </div>
  </div>
</p-panel>